Source: gnome-shell-extension-icon-hider
Section: gnome
Priority: optional
Maintainer: Igor Kalnitsky <igor@kalnitsky.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/ikalnitsky/gnome-shell-extension-icon-hider

Package: gnome-shell-extension-icon-hider
Architecture: all
Depends: gnome-shell (>= 3.4)
Description: GNOME Shell Icon Hider
 A simple extension for managing visibility of status area items.
